body {
  margin: 0;
}

.map {
  width: 100%;
  height: 100vh;
  background-color: grey;
}

#error {
  position: absolute;
  z-index: 1;
  width: 100vw;
  background-color: yellow;
  font-family: Verdana;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

#panel {
  position: absolute;
  z-index: 1;
  height: 100vh;
  background-color: #333;
  color: white;
  font-family: Verdana;
  overflow: auto;
  width: 30%;
}

input {
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 2%;
  font-size: 20px;
  width: 90%;
}

ul {
  list-style: none;
  padding: 3%;
}

li {
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid black;
}

li:hover {
  background-color: #222;
}